# Pandas Cheat Sheet

A fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of Python.

[Official documentation](https://pandas.pydata.org/) | DataCamp cheat sheets: [Web](https://www.datacamp.com/cheat-sheet/pandas-cheat-sheet-for-data-science-in-python) | [PDF](https://images.datacamp.com/image/upload/v1676302204/Marketing/Blog/Pandas_Cheat_Sheet.pdf)

In [30]:
import pandas as pd

In [31]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - An alignable boolean Series. The index of the key will be aligned before
      masking.
    - An alignable Index. The Index of the returned selection will be the input.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`.

    Raises
    ------
    KeyError
        If any items are not found.
    IndexingError
        If an indexed key is passed and its index is unalignable to the frame index.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Alignable boolean Series:

    >>> df.loc[pd.Series([False, True, False],
    ...        index=['viper', 'sidewinder', 'cobra'])]
                max_speed  shield
    sidewinder          7       8

    Index (same behavior as ``df.reindex``)

    >>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
           max_speed  shield
    foo
    cobra          1       2
    viper          4       5

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

## Data types

### Series

A pandas Series is a one-dimensional array. It holds any data type supported in Python and uses labels to locate each data value for retrieval. These labels form the index, and they can be strings or integers.
[Reference](https://blog.hubspot.com/website/series-in-pandas).

In [32]:
pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])

a    3
b   -5
c    7
d    4
dtype: int64

### DataFrames

A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. [Reference](https://pandas.pydata.org/docs/user_guide/dsintro.html).

In [33]:
data = {'Country': ['Mauritius',  'India',  'South Africa'],
        'Capital': ['Port Louis',  'New Delhi',  'Pretoria'],
        'Currency (ISO)': ['MUR', 'INR', 'ZAR']}

pd.DataFrame(data, columns=['Country',  'Capital',  'Currency (ISO)'])

        Country     Capital Currency (ISO)
0     Mauritius  Port Louis            MUR
1         India   New Delhi            INR
2  South Africa    Pretoria            ZAR

> 1, 2 and 3 are the indexes while Country, Capital and Currency (ISO) are the columns.

## I/O

### CSV files

In [34]:
df = pd.read_csv('data/dataframe.csv')
df

        Country     Capital   Currency (ISO)
0     Mauritius  Port Louis              MUR
1         India   New Delhi              INR
2  South Africa    Pretoria              ZAR

In [35]:
df.columns

Index(['Country', '  Capital', '  Currency (ISO)'], dtype='object')

In [36]:
## Tidy up column names
df.columns = df.columns.str.strip()
df.columns

Index(['Country', 'Capital', 'Currency (ISO)'], dtype='object')

In [37]:
df.to_csv('data/dataframe-tidy.csv', index=True)

### Excel documents

**Note**: Excel requires the installation of openpyxl: ```pip install openpyxl```

In [38]:
xlsx = pd.ExcelFile('data/excel.xlsx')

In [39]:
pd.read_excel(xlsx, 'Currencies')

                    Country           Capital Currency (ISO)
0                 Mauritius        Port Louis            MUR
1                     India         New Delhi            INR
2              South Africa          Pretoria            ZAR
3  United States of America  Washington, D.C.            USD

In [40]:
pd.read_excel(xlsx, 'Population')

                    Country           Capital  Population  Year of Consensus
0                 Mauritius        Port Louis     1266000               2021
1                     India         New Delhi  1408000000               2021
2              South Africa          Pretoria    59390000               2021
3  United States of America  Washington, D.C.   331900000               2021

In [41]:
df.to_excel('data/dataframe.xlsx', sheet_name='Currencies')

### Databases

(`read_sql()` is a convenience wrapper around `read_sql_table()` and `read_sql_query()`)

```python
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql(SELECT * FROM my_table;, engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query(SELECT * FROM my_table;', engine)
df.to_sql('myDf', engine)
```

## Select data

In [42]:
df['Country'] # Returns a Series object with the column data and index

0       Mauritius
1           India
2    South Africa
Name: Country, dtype: object

In [43]:
df[1:] # Returns a DataFrame object with the rows and columns

        Country    Capital Currency (ISO)
1         India  New Delhi            INR
2  South Africa   Pretoria            ZAR

In [44]:
df[0:2] # Returns a DataFrame object with the rows and columns

     Country     Capital Currency (ISO)
0  Mauritius  Port Louis            MUR
1      India   New Delhi            INR

In [45]:
df.iloc[0] # Returns a Series object with the row data and index

Country            Mauritius
Capital           Port Louis
Currency (ISO)           MUR
Name: 0, dtype: object

In [46]:
# Purely integer-location based indexing for selection by position.
df.iloc[0:2] # Returns a DataFrame object with the rows and columns

     Country     Capital Currency (ISO)
0  Mauritius  Port Louis            MUR
1      India   New Delhi            INR

In [47]:
# Access a single value for a row/column pair by integer position.
# Similar to iloc, in that both provide integer-based lookups. Use iat if you only need to get or set a single value in a DataFrame or Series.
df.iat[0, 0] # Returns a single value

'Mauritius'

In [61]:
# Access a group of rows and columns by label(s) or a boolean array.
df.loc[[0, 1], ['Country', 'Capital']]

     Country     Capital
0  Mauritius  Port Louis
1      India   New Delhi

In [64]:
# Access a single value for a row/column label pair.
df.at[0, 'Country']

'Mauritius'

In [75]:
df[(df['Country'] >= "M") & (df['Capital'] >= "P")]

        Country     Capital Currency (ISO)
0     Mauritius  Port Louis            MUR
2  South Africa    Pretoria            ZAR

In [83]:
population = pd.read_excel(xlsx, 'Population')
merged_df = pd.merge(df, population, on='Country')
merged_df.drop(columns=["Capital_y"], inplace=True)
merged_df.rename(columns={"Capital_x": "Capital"}, inplace=True)
merged_df

        Country     Capital Currency (ISO)  Population  Year of Consensus
0     Mauritius  Port Louis            MUR     1266000               2021
1         India   New Delhi            INR  1408000000               2021
2  South Africa    Pretoria            ZAR    59390000               2021